Title: Nesta theme Mi6 available on Github now | André Drougge | Miphe
Link text: Theme available on Github
Description: Minimalistic and responsive theme for Nesta, a Ruby CMS for developers and designers.
Keywords: Nesta theme, Nesta, Github distro, opensource
Categories: categories/sinatra, categories/ruby, categories/github, categories/nesta
Date: 20 November 2014
Summary: This Nesta theme is now available on Github, try it out!

%h1
  This theme is now available on github

:markdown
  This theme (MI6) is now available on Github. MI6 is a theme for blogs, portfolios and developer profiles. You can [find it here](https://github.com/miphe/mi6.theme).

  ---

  It's a minimalistic and responsive theme for the Ruby CMS [Nesta](http://nestacms.com), built on Sinatra. Nesta is a CMS for developers and designers who likes to write articles and other content in Markdown/Textile or similar formatting languages. No database, no login, no admin area - write content, commit, push.

  The theme is under development still and improvements are added frequently, including behavior for smaller devices. I'm also trying to keep the /docs area up to date where you can read exactly how to use the features this theme offers.

  Contributers are welcome!
