Title: Mine Sweeper in jQuery | Miphe | André Drougge
Link text: Mine Sweeper
Description: MineSweeper project built with jQuery
Keywords: JavaScript, jQuery, MineSweeper, github
Categories: categories/javascript, categories/project, categories/jquery, categories/github
Date: 25 June 2013
Summary: Personal tiny project, writing Mine Sweeper in js. Try it out on <a href="http://ms.miphe.com" target="_blank">ms.miphe.com</a>.

%h1
  MineSweeper

%a.content-example{ :target => '_blank', :href => 'http://ms.miphe.com' }
  %img{ :alt => 'Screenshot of MineSweeper', :src => '/attachments/img/minesweeper/full.png', :title => 'MineSweeper - jQuery' }

:markdown
  Classic board game, simple and brilliant. I wanted to write this game in JavaScript with jQuery as an excercise after having worked a lot with UI design and photo retouch, I felt I needed to brush up my development capabilities.

  I still have some features in Hardcore mode that I would like to add, like keyboard shortcuts and a manual _"I'm Done"_ button to really squeeze the players brain. That's something I'll look into as soon as I can.

  - <a href="https://github.com/miphe/Mine-Sweeper" target="_blank">Check out the code on Github</a>
  - <a href="http://ms.miphe.com" target="_blank">Try the game on ms.miphe.com</a>

  ## How to play

  _The rules in Minesweeper are simple:_

  - Uncover a mine, and the game ends.
  - Uncover an empty square, and you keep playing.
  - Uncover a number, and it tells you how many mines lay hidden in the eight surrounding squares—information you use to deduce which nearby squares are safe to click.

  ## Feature list

  _Some of the features of the game, in addition to some obvious game features._

  - Choose the dimensions of your board
  - Choose difficulty (percentage of hidden mines)
  - Manually start game
  - Choose to give up
  - Friendly feedback messages
  - Reveal mine field when game-over
  - Flag/Unflag area
  - Choose Hardcore mode
  - Hardcore mode: Timer
  - Hardcore mode: May max take x ms between sweeps (stress element)
  - Hardcore mode: Stress indicator
