Title: Personal branding
Link text: Personal branding
Description: A developer’s path to a personal brand
Keywords: Digital footprint, personal brand, developer path
Categories: categories/tip
Date: 4 December 2015
Summary: Digital personal branding is imperative. I will go over a few points that may help you substantiate your personal brand and to keep yourself afoot in the business throughout your career.

%h1
  Personal branding



:markdown

  ## A developer’s path to a personal brand

  Digital personal branding is imperative for a developer, it makes us who we are. It is our professional identity we project to the rest of the business which is why it is so important. I will go over a few points that may help you substantiate your personal brand and to keep yourself attractive and afoot in the eyes of the business in the beginning or throughout your career.

.img-container
  %img.box.full-size{ :src => '/attachments/img/general/shoes2.jpg' }
  <h2>Personal branding</h2>

:markdown

  ## Prepare yourself

  Before strengthening your personal brand, you need to have a clear idea of who you are and what you do. That sounds easy enough! But in fact it can be quite challenging to describe yourself in a way that sells, yet is authentic and honest.

  One of the most important things is to be clear about who you are. Your label. If you’re a Web Security Expert, C# Developer or Front-End Developer - it needs to be obvious from the start. Your role, as you apply it to yourself, should be how your personal brand is identified and will be paramount when people find you.
  If you’re vague when describing yourself, which younger developers often are, no matter who finds you they aren’t going to have that “This one looks perfect!” -feeling. As an example, when a recruiter for a company is looking for an Erlang System Developer, consider the two following candidate descriptions and decide which one you feel is best.

  > <i>John Doe</i> - <strong>programming consultant</strong><br />
  > <i>Pete Dae</i> - <strong>Software engineer “Functional programming partisan”</strong>

  Even though “Software engineer” is quite generic, Mr. Pete Dae has made his angle obvious and is implicitly saying <em>“Hey, I know functional programming and I intend to continue in this field”</em>.

  Another significant aspect that needs to be addressed early in your personal branding is some kind of graphical representation of you or your brand. It could be a good looking head-shot in a professional environment, a logotype or a combination. The important thing is that this picture is recurring everywhere you are. That will mean that when someone is tracking your digital footprint, trying to get a notion of who you are, there’s no question about if this is you or someone else with the same name. The best and easiest solution would probably be to use a <a href="https://en.gravatar.com/" target="_blank">Gravatar</a> and to use that same graphics where gravatars aren’t supported.

  ## The bread and butter

  <strong>Digital footprint:</strong> For anyone trying to learn more about you there is one certain thing they will do - they will Google your name. So that’s what you will need to do, see what you find and improve it. Your digital footprint is something that needs to align with how you present yourself professionally or you will lose credibility. To get an in depth idea of the importance of your digital footprint, check out Davorin Habrun’s article <a href="http://blog.mytalengi.com/attention-software-developers-is-your-digital-footprint-ready-for-2016/" target="_blank">“Attention Software Developers! Is your Digital Footprint ready for 2016?”</a>.

  What could this mean then? As a developer of some sort, it is probable that you will find your profile on LinkedIn, StackOverflow, Facebook, Twitter, GitHub and probably a few more areas. Consider those websites your temple, keep them clean and up to date. The rest of your digital footprint will probably be guest articles you wrote, comments on blogs etc. If you see room to improve those, even if it’s old content, you should. It’s unnecessary to have a blunt comment from 2002 about how you think JavaScript isn’t for “real developers” as the third hit when Googling your name. Try to make sure you can currently support the comprised image made of you by a search.

  <strong>Your website:</strong> Fortunately, you don’t solely have to rely on third parties to reflect your professional identity on the web. Your own website is your own realm where you set the rules and you choose just how everyone sees you. This is your opportunity to captivate and impress someone, showing yourself in just the right light to give the best and most accurate image of you.

  With all this power though, it’s easy to lose sight of what is really important - Clarity. On your own website, it needs to be obvious that you’re <i>on your website</i> and what kind of website this is, be it a blog, CV, vlog, portfolio or a travel-blog for your close friends. You can establish this with one greeting at the front of your site, such as:

  > “Hello, I’m {name} - Software Engineer and proponent for functional programming.”

  This greeting isn’t just a nice way of saying hello. It tells the visitor that this site is about you and your career, and all that revolves around it - if you came to get an idea of my professional self then you came to the right place.

  How much you decide to embroider your site is really up to you, whether you want to present ideas in the form of a blog, show your curriculum, describe you as a person or offer a way to get in touch - it needs to be simple and obvious.

  <strong>Site updates:</strong> There’s no reason creating a website for your personal branding unless you tend to it. Your brand should be like your cat, your world shouldn’t really revolve around it but it’s something you need to tend to on a regular basis. If you see it the right way, you will realize that it’s not just work, but can actually be kind of fun.

  Make sure that you maintain your personal website with regular content. If you’re not really the blogger type, who writes lengthy reasonings about each problem you encounter at work,  but rather prefer to write a new feature to your website instead, that’s cool - the work can speak for itself. Just make a quick update on your site about it. Something along the lines:

  > “<i>{My brand}</i>'s contact section just got a facelift! New UI and a well needed refactor of the e-mail validation <i>{link to commit}</i>. After reading ‘Declarative form validation done right’ <i>{link}</i> by <i>{Some Name}</i>, I just got really inspired”.

  That short update is more than enough to give a great impression about you and how passionate you are about what you do. Moreover, it’s an elegant way of saying how up-to-date you are with latest tech news and you also get some exposure on your public repositories.

  ## The future

  So what happens when you feel that you’re pretty set up with your personal brand? Your digital footprint is presentable, your public profiles are clear and up to date, your own website is up and running. Are we done then? The simple answer is no, maintaining your personal brand is a part of being in the business and it will not end for as long you’re still in it, but the level of your involvement may vary depending on your availability.

  The great thing though is that many, if not most, companies encourage your public presence since it by extension increases the public presence of the company. I’d be surprised to find an employer who wouldn’t allow you to write an article about how your switch from MySQL to MongoDB went, or about the reasoning behind switching from Less to Sass. It’s your job to find these opportunities in your day-2-day. What are you learning these days, what are you working with, what are your decisions and why? It’s up to you to realize what could be a great topic to talk about and thereby strengthen your personal brand.

  The work you do doesn’t have to be open source to benefit you personally. It’s great if it is, but there are many ways you can harvest a positive reward from it even if the source never reaches beyond your team.
