Title: Sublime Text 2 and 3 theme - Flatland | Miphe | André Drougge
Link text: SublimeText theme Flatland
Description: Flatland, as suggested by the name, has a flat design - no bubbly buttons or excessive shadows - and puts a nice and smooth dark feel over your Sublime workspace.
Keywords: Sublime text theme, flatland theme
Categories: categories/css, categories/sass
Date: 22 May 2014
Summary: Let's face it, almost every developer has a bit of vanity in them. If you're like me and you want your text-editor to look as dashing as you wished your wardrobe would, then check this theme out.

%h1
  Put some fairy dust on Sublime Text

%a.content-example{ :href => '/attachments/img/general/flatland.1.png', :class => 'content-example viewable-image' }
  %img{ :alt => 'Screenshot of FlatLand', :src => '/attachments/img/general/flatland.1.png', :title => 'Flatland theme, Sublime Text 2 and 3' }

:markdown
  Let's face it, almost every developer has a bit of vanity in them. If you're like me and you want your text-editor to look as dashing as you wished your wardrobe would, then please read on because the Flatland theme for SublimeText 2 and 3 does just that.

  Flatland, as suggested by the name, has a flat design - no bubbly buttons or excessive shadows - and puts a nice and smooth dark feel over your Sublime workspace. Personally I was somewhat bothered by the standard bright directory drawer while using a dark theme such as Amy or SpaceCadet, just didn't feel right.

  Over at the [Flatland theme github page](https://github.com/thinkpixellab/flatland) you can read about how to install and setup your theme.

  Personally I like the tree to be as small as possible since I don't use it for finding files, just to get an overview of the directory structure.

  Goto > Goto Anything <span class="key">ctrl</span> + <span class="key">p</span> <span class="subtle-text">(Ubuntu)</span> is better suited for finding files, so the option for extra small sidebar tree was a nice surprise. If you would like to try it out, install the theme and add your settings! The following is my current setup (Preferences > Settings - User).

      :::js
      {
        "theme": "Flatland Dark.sublime-theme",
        "color_scheme": "Packages/Theme - Flatland/Flatland Dark.tmTheme",
        "flatland_square_tabs": true,
        "flatland_sidebar_tree_xsmall" : true,
        "caret_style": "phase",
        "detect_indentation": false,
        "ensure_newline_at_eof_on_save": true,
        "font_size": 11,
        "tab_size": 2,
        "translate_tabs_to_spaces": true,
        "trim_trailing_white_space_on_save": true,
        "ignored_packages":
          [
            "Vintage",
            "PHP-Twig"
          ]
      }

  Hope you enjoy it as much as I do! If you have any other theme suggestions, let me know!
