Title: About André Drougge | Miphe
Description: Read about André Drougge in his own words
Keywords: André Drougge, Portfolio
Summary: First paragraph.\nSecond paragraph.
Show meta: false
Flags: primary

%h1
  About me

= haml :public_profile, :layout => false, :locals => { :title => false, :bare => true, :inline => true }

%p
  I'm born in -84 which makes me

  = age(Date.new(1984, 11, 15))

  at the moment.

:markdown
  I am born and raised in Sweden (Stockholm) where I finished my studies in [Interactions Design](/experience) and started my web-journey.

  For little over five years I worked with [Redbet](/showcase/redbet) where I developed a love for Ruby MVCs and have been a fan ever since. I transferred to Malta in 2010 to start up and lead the front-end team there.

%p
  In late 2013 I decided to leave Malta and work in a way I previously thought wasn't quite possible yet - professionally, productively yet

  %i
    remotely
  \.

  %a{ :href => 'http://x-team.com', :title => 'X-Team', :target => '_blank' }
    X-Team

  does an incredible job at this and enabling personal growth for developers, serving interesting projects, collegues and making it possible for talents all over the world to come together and build amazing applications.

:markdown
  ---

:erb
  <%
    xp_data = {
      :labels => [
        'Knowledge',
        'Experience',
        'Passion'
      ],
      :data => [
        	{ :id => 'angular', :label => 'AngularJS', :bar_1 => 60, :bar_2 => 50, :bar_3 => 100, :content  => "AngularJS is a great passion of mine, designed with some important core concepts in mind &#8211; structure (MV*), tests and modules &#8211; which are important to me especially when working with scaling projects." },

          { :id => 'backbone', :label => 'Backbone.js', :bar_1 => 40, :bar_2 => 40, :bar_3 => 100, :content => 'I\'m a fan of structure and speed on the web, needless to say I love working with Backbone. I\'ve had to jump in and dig through hundreds of lines of poorly structured JavaScript more times than I can remember, when I hop on a project built on Backbone there\'s a comfort in already knowing how the project is structured and how to keep it in good shape.' },

          { :id => 'jquery', :label => 'jQuery', :bar_1 => 80, :bar_2 => 90, :bar_3 => 60, :content  => 'As for most Front-End developers, jQuery has been a part of my life for quite some time now, it\'s for me what the utility belt is for Batman. The super-power isn\'t about the belt, but it makes a lot of stuff much easier.' },

          { :id => 'sass', :label => 'Sass', :bar_1 => 100,:bar_2 => 90, :bar_3 => 70, :content  => 'For me Sass is more than an aid to strucure, re-use and calculate styles - it enables me to be more creative in the way I write my code. I get to adhere to a programmatical mindset as opposed to just writing declarations, which makes writing styles really enjoyable, especially with tools like Compass or Bourbon.' },

          { :id => 'responsive',:label => 'Responsive',  :bar_1 => 80, :bar_2 => 80, :bar_3 => 80, :content  => 'These days, responsiveness for a web-site goes without saying, there is more to building responsive web applications than that though. If breakpoints doesn\'t give the right experience or feel intuitive enough - then there a lot of room for improvements. Truly responsive applications that feels right from phone to desktop, that just gives a really professional impression.' }
        ]
    }
  %>

= haml :"partials/xp_graph", :layout => false, :locals => { :xp_data => xp_data }

:markdown
  ---

  I've been into the web scene since I can remember and I really enjoy the constant evolution of the industry. I try to keep updated with the latest and greatest stuff and to always keep my learning curve steep.

  When I'm not doing that, I enjoy Longboarding, Digital Painting, Archery and the occational try at the guitar.

  ## Skills/Technologies

  _I have most experience in development with these technologies._

.column-grid.columns-2
  .column-1

    .flag-list
      :markdown
        ### <span>Templating</span> & markup

      %ul.code
        %li
          %a{ :href => 'http://haml.info/', :target => '_blank' }
            Haml
        %li
          %a{ :href => 'http://jade-lang.com/', :target => '_blank' }
            Jade
        %li
          %a{ :href => 'http://www.kuwata-lab.com/erubis/', :target => '_blank' }
            Erubis
        %li
          %a{ :href => 'http://twig.sensiolabs.org/', :target => '_blank' }
            Twig

      :markdown
        ### <span>JavaScript</span> libs and such

      %ul.code
        %li
          %a{ :href => 'https://angularjs.org/', :target => '_blank' }
            Angular
        %li
          %a{ :href => 'http://backbonejs.org/', :target => '_blank' }
            Backbone
        %li
          %a{ :href => 'https://lodash.com/', :target => '_blank' }
            LoDash
        %li
          %a{ :href => 'http://underscorejs.org/', :target => '_blank' }
            Underscore
        %li
          %a{ :href => 'http://jquery.com/', :target => '_blank' }
            jQuery

      :markdown
        ### <span>JavaScript testing</span>

      %ul.code
        %li
          %a{ :href => 'http://mochajs.org/', :target => '_blank' }
            Mocha
        %li
          %a{ :href => 'http://chaijs.com/', :target => '_blank' }
            Chai
        %li
          %a{ :href => 'http://sinonjs.org/', :target => '_blank' }
            Sinon
        %li
          %a{ :href => 'https://karma-runner.github.io/0.8/index.html', :target => '_blank' }
            Karma
        %li
          %a{ :href => 'https://angular.github.io/protractor/#/', :target => '_blank' }
            Protractor
        %li
          %a{ :href => 'http://jasmine.github.io/', :target => '_blank' }
            Jasmine

      :markdown
        ### <span>Styles</span> & preprocessors

      %ul.code
        %li
          %a{ :href => 'http://sass-lang.com/', :target => '_blank' }
            Sass
        %li
          %a{ :href => 'http://lesscss.org/', :target => '_blank' }
            Less
        %li
          %a{ :href => 'http://compass-style.org/', :target => '_blank' }
            Compass
        %li
          %a{ :href => 'http://susy.oddbird.net/', :target => '_blank' }
            Susy

  .column-2
    .flag-list
      :markdown
        ### <span>Source control</span> mostly worked with..

      %ul.code
        %li
          %a{ :href => 'http://git-scm.com/', :target => '_blank' }
            Git
        %li
          %a{ :href => 'http://subversion.apache.org/', :target => '_blank' }
            Subversion

      :markdown
        ### <span>CMS</span> mostly worked with..

      %ul.code
        %li
          %a{ :href => 'http://wordpress.com/', :target => '_blank' }
            WordPress (php)
        %li
          %a{ :href => 'http://refinerycms.com/', :target => '_blank' }
            RefineryCMS (RoR)
        %li
          %a{ :href => 'http://drupal.org/', :target => '_blank' }
            Drupal (php)
        %li
          %a{ :href => 'http://textpattern.com/', :target => '_blank' }
            TextPattern (php)
        %li
          %a{ :href => 'http://spreecommerce.com/', :target => '_blank' }
            Spree (e-commerce, RoR)
        %li
          %a{ :href => 'http://radiantcms.org/', :target => '_blank' }
            Radiant (RoR)
        %li
          %a{ :href => 'http://nestacms.com/', :target => '_blank' }
            Nesta (Sinatra)

      :markdown
        ### <span>Ruby</span> frameworks

      %ul.code
        %li
          %a{ :href => 'http://ramaze.net/', :target => '_blank' }
            Ramaze
        %li
          %a{ :href => 'http://www.padrinorb.com/', :target => '_blank' }
            Padrino
        %li
          %a{ :href => 'http://rubyonrails.org/', :target => '_blank' }
            Ruby on Rails
