Title: Experience | Miphe | André Drougge
Description: Curriculum Vitae
Keywords: CV, experience
Summary: CV
Show meta: false
Flags: primary

%h1
  Experience

= haml :public_profile, :layout => false, :locals => { :title => false, :bare => true, :inline => true }

:markdown
  ## 2015 - Present
  - <span class="marked-text">Angular Developer</span> <span class ="subtle-text">Aviso (Remote)</span> _<a title="Aviso Novate, official web site" href="http://www.aviso.io/" target="_blank">Read more..</a>_

  ## 2013 - 2015
  - Web Application developer <span class ="subtle-text">X-Team (Remote)</span> _[Read more..](/showcase/x-team)_

  ## 2008 - 2013
  - [Chief Web Architect](/showcase/redbet#my-role) <span class="subtle-text">Redbet Gaming Ltd (Malta)</span> _[Read more..](/showcase/redbet#my-role)_
  - [Web Developer, Designer](/showcase/redbet) <span class="subtle-text">Redbet Technology (sthlm)</span> _[Read more..](/showcase/redbet)_

  ## 2006 - 2008
  - Internship: Web Developer <span class="subtle-text">Silvia Media, Atna (sthlm)</span>
  - Internship: Production Designer, Final Artist <span class="subtle-text">News Machine (sthlm)</span>
  - Education: Interactions Design <span class="subtle-text">Nackademin Kvalificerad Yrkesutbildning (sthlm)</span>

  ## Until 2006
  - Education: Digital Grafik <span class="subtle-text">Centrumvux (sthlm)</span>
  - Education: Information &amp; Layout <span class="subtle-text">Centrumvux (sthlm)</span>
  - Education: Programhantering <span class="subtle-text">Centrumvux (sthlm)</span>

  ## Unofficial
  - Education: Digital Painting 101 <span class="subtle-text">The Lamp Post Guild (Remote, 2013)</span>
