Title: Quotes from the site | Miphe | André Drougge
Link text: Internal quotes
Description: Demystifying the potentially befuddling sentenses seen on miphe.com
Keywords: quotes of miphe, befuddle, mystical, wizdom, brilliance
Show meta: false

%h1
  Internal quotes

:markdown
  Sometimes brilliance passes by too quickly and we feel like we want to savour it and use more often. Such a thing can also be lost in context or misunderstood. That is why this index exists, to list, demystify and explain some of the potentially curious and befuddling sentenses you may have come across.

  > <span class="marked-text"><i class="fa fa-quote-left"></i> Like using a t-shirt outside of a jacket</span>
  _Doing something in the wrong order. Making something overly complicated._

  > <span class="marked-text"><i class="fa fa-quote-left"></i> What makes a ball bounce</span>
  _The cause for the rules of the universe. The foundation of life, the universe and everything._
