Title: Domestic Bumblebees | Miphe | André Drougge
Description: 50's Blue/Rock n' Roll band site - small and fun TextPattern project.
Keywords: TextPattern, PHP CMS, Band site
Categories: categories/showcase, categories/php, categories/textpattern
Date: 20 June 2008
Thumbnail: /attachments/img/domestic_bumblebees/full.png
Summary: 50's Blue/Rock n' Roll band site - small and fun TextPattern project. This site was a small project with many different new (at the time) development methods.
Link text: Domestic Bumblebees

%h1
  Domestic Bumblebees

%a{ :href => '/attachments/img/domestic_bumblebees/full.png', :class => 'content-example viewable-image' }
  %img{ :src => '/attachments/img/domestic_bumblebees/full.png', :alt => 'Screenshot of the Domestic Bumblebees', :title => 'The bandsite Domestic Bumblebees' }

:markdown
  The Domestic Bumblebees is a fifties style Blues/rock’n’roll trio from Stockholm, Sweden, well known for their explosive, collar-soaking shows and diabolic instrument skills.

%p
  This site was a small project<a href="#fn-1"><sup>[1]</sup></a> with many different new (at the time) development methods including some Flash and Sifr but more importantly the CMS used here is the quaint and nifty PHP framework
  %a{ :target => '_blank', :href => 'http://textpattern.com' }
    TextPattern.

:markdown
  Up until becoming a Ruby fan, TextPattern was my obvious choice for any small/medium-sized project. When working with the system you really feel like you know what's going on and how to achieve what you're after, it has a short learning period which was attractive to me at the moment.

  Today when I'm starting up small projects I'm always considering TextPattern as a possible CSM choice.

%p#fn-1.footnote
  [1] This site has not been in my care for many years.
