Title: Heypoker.com  | Miphe | André Drougge
Link text: Heypoker
Description: Heypoker is an i-gaming branch migrated unto the rb platform.
Keywords: Heypoker, i-gaming, Ramaze, theme
Categories: categories/showcase, categories/ruby
Date: 3 Dec 2013
Summary: The Heypoker brand was acquired by Redbet in 2011. The idea was to transition the existing customer base into a new Heypoker-branded site, forked from the Redbet platform due to it's stability and extensive features.
Thumbnail: /attachments/img/heypoker/thumbnail.png

%h1
  Heypoker a rb -fork

%a{ :href => '/attachments/img/heypoker/sportsbook.png', :class => 'content-example viewable-image' }
  %img{ :src => '/attachments/img/heypoker/sportsbook.png', :alt => 'Sportsbook on Heypoker.com', :title => 'Sportsbook on Heypoker.com' }

:markdown
  The Heypoker brand was acquired by Redbet in 2011. The idea was to transition the existing customer base into a new Heypoker-branded site, forked from the Redbet platform due to it's stability and extensive feature support. A project like this had already been done earlier with  Whitebet's limited website, gaining tremendous potential being able to offer everything that was already available on Redbet.com.

  Heypoker was already a mature brand by the time it was acquired and had a structure and some features that Redbet at the time was missing, which made this project quite extensive - we didn't want to confuse the existing customer-base, and certainly not make it appear as if some features that used to be there were now gone.

  With the theming, feature development and customization of structure done by 3-4 months, the database migration and web platform change happened smoothly and the brand has been in active development alongside the two remaining brands running on this platform since.

  Something that I and the front-end team had some fun with was the contrast switch of this theme - the platform now needed support for bright-on-dark content as well as dark-on-bright content. It was an exciting challenge and gave us room for many graphical performance enhancements.

= haml :related_links, :layout => false, :locals => { :links => @related_links }
