Title: Redbet | Miphe | André Drougge
Link text: Redbet
Description: Large scale Ramaze project with themes, admin-area etc.
Keywords: Redbet, i-gaming, Ramaze
Categories: categories/showcase, categories/ruby
Date: 1 Dec 2013
Summary: There are many i-gaming sites out there but none quite like this one. Redbet (<a href="http://redbet.com" target="_blank">redbet.com</a>) is a Ruby project built on the slim MVC framework <a href="http://ramaze.net/" target="_blank">Ramaze</a> which I and the rest of the Redbet technology team started up in 2008.
Thumbnail: /attachments/img/redbet/thumbnail.png

%h1
  The Redbet i-gaming platform

%a.content-example.viewable-image{ :href => '/attachments/img/redbet/full.png' }
  %img{ :src => '/attachments/img/redbet/full.png', :alt => 'Redbet i-gaming platform screenshot', :title => 'Redbet i-gaming platform' }

:markdown
  There are many i-gaming sites out there but none quite like this one. Redbet (<a href="http://redbet.com" target="_blank">redbet.com</a>) is a Ruby project built on the slim MVC framework <a href="http://ramaze.net/" target="_blank">Ramaze</a> which I and the rest of the Redbet technology team started up in 2008. This was a great transition for both me and the company - from Perl and Template Toolkit to Ruby and Erubis.

  During my five years, the Redbet platform saw tremendous change and progression, from being a simple poker site to being a full fledged i-gaming web platform including integration with the markets leading casino providers, [mobile support](/attachments/img/redbet/mobile.png), several poker networks, a complete and competitive sportsbook and a comprehensive admin interface with substantial management capabilities. In early 2010 we also deployed support for theming and brand separation on the platform, later resulting in [heypoker.com](http://heypoker.com) and [whitebet.com](http://whitebet.com).

  Another considerable part of the platform is the affiliate area. The platform enables custom and individual affiliate programs including marketing material, acquisition and conversion tracking, sub/master affiliation, statistical reports and much more.

  ## Agile methodology

.content-example
  %img{ :src => '/attachments/img/illustrations/agile.png', :alt => 'Agile development' }

:markdown
  This technology team was been a great place for developers to grow, learn and to have a big impact on the project which is something I value a lot in a work environment. What partly has enabled this is the agile development methodology practiced across the teams, in retrospect I can say that in addition to better productivity, a more stable platform and a steeper learning curve for developers - working agile, with continuous integration, a > 85% test-coverage and room for creativity - has also created happy, responsible and loyal developers.

%h2#my-role
  My role

:markdown
  From 2008 until 2010 as a Front-End developer in the team, there were many challenges and new technologies to get accustomed to, but also competent and well organized collegues to work with. I learned a lot during this time and really got a good insight in best practices, do's and dont's and a more programmatical and pragmatic way of thinking as opposed to _"just GUI and UX"_ which was heavily emphasized at my previous occupation.

  By 2010 I was appointed Chief Web Architect of Redbet and was directed to start up a new Front-End team on Malta. With the good experience of Agile development and great continuous support from the remaining _(backend)_ technology team in Sweden - the hiring, setup and productivity of the new team went very well.

  For the duration of leading the team on Malta the platform went through great and fundamental improvements, such as introduction of Sass, new and more organized style authoring approach (SMACSS), rich client-side javascript features & unit tests etc. The time at Redbet was for me a very positive and rewarding experience.

:erb
  <%
    rel_links = [
      {
        :text => 'Whitebet, theme running on the Redbet platform',
        :href => '/showcase/whitebet',
        :title => 'Whitebet.com built on the Redbet platform'
      },
      {
        :text => 'Heypoker, theme running on the Redbet platform',
        :href => '/showcase/heypoker',
        :title => 'Heypoker.com built on the Redbet platform'
      }
    ]
  %>

= haml :related_links, :layout => false, :locals => { :links => rel_links }
