Title: Whitebet.com  | Miphe | André Drougge
Link text: Whitebet
Description: Built on the rb platform, Whitebet is an i-gaming branch with a lean look.
Keywords: Whitebet, i-gaming, Ramaze, theme
Categories: categories/showcase, categories/ruby
Date: 2 Dec 2013
Summary: Large scale Ramaze i-gaming website
Thumbnail: /attachments/img/whitebet/thumbnail.png

%h1
  Whitebet, birth of theme support

%a{ :href => '/attachments/img/whitebet/wb.png', :class => 'content-example viewable-image' }
  %img{ :src => '/attachments/img/whitebet/wb.png', :alt => 'Whitebet.com', :title => 'Whitebet.com' }

:markdown
  Two years work of the Redbet platform was done before this new requirement came up - theming. The Whitebet project was theming on a stick, the platform had no out-of-the-box support for running different themes so a great project was initiated, to split up user databases yet to keep some areas shared across the various brands.

  The Front-End was a great challenge in terms of design, scalability and performance friendly solutions, caching, theme/brand-specific assets&features.

= haml :related_links, :layout => false, :locals => { :links => @related_links }
