Title: X-Team.com | Miphe | André Drougge
Link text: X-Team
Description: Super heroes chaning the world. Descriptive company site of X-Team.
Keywords: Wordpress, X-Team
Categories: categories/showcase, categories/wordpress, categories/php, categories/x-team
Date: 25 January 2014
Summary:X-Team is a company with many unique positive aspects. We're (most of us) working on remote from all parts of the world on very varying projects, from X-Factor to XHTMLized.
Thumbnail: /attachments/img/x-team/x-team.thumbnail.png

%h1
  X-Team - Heroes changing the world

.img-container
  .img-container-inner
  %img.logo{ :src => '/attachments/img/x-team/x-team.logo.black.png' }
  %img.box.full-size{ :src => '/attachments/img/x-team/x-team.header_beatles.jpg' }


.column-grid.columns-2
  .column-1
    :markdown
      ## About X-Team

      X-Team is a company with many unique positive aspects. We're (most of us) working on remote from all parts of the world on varying projects such as X-Factor, 24, American Idol, X-Team.com, Fox.com etc.

      With developers all over the globe there's a rare and very useful positive side effect - there's always someone working. When one worker's day ends, another one's begin which means our projects benefit greatly from never being delayed.

      Being a part of X-Team is a great honor. The atmosphere, leadership, sense of responsibility and community - it's breathtaking.

  .column-2
    :markdown
      ## The site X-Team.com

    .box
      %a.box.viewable-image{ :href => '/attachments/img/x-team/x-team.full.png' }
        %img{ :src => '/attachments/img/x-team/x-team.full.png', :alt => 'X-Team' }

    :markdown
      X-Team.com is a wordpress project with many gadgets attached. If you feel like taking a closer look, here are some link you might like.

      - <a href="https://wordpress.org/plugins/stream/" target="_blank">Stream | The WordPress activity log plugin</a>
      - <a href="http://x-team.com/streams" target="_blank">Streams | The social feed with Backbone</a>
